
.hero{
    background-color: var(--pink-tint);
    color: var(--purple-shade);
}

/* hero tt */

.hero__tt{
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 20px 20px 20px;
    text-align: center;
}

.hero picture{
    display: block;
    position: relative;
    width: 100%;
    height: 110vh;
    background-color: red;
}

.hero picture img{
    width: 100%;
}

/* ARCO PICTURE SZS */

.hero picture img:nth-child(1){
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 40;
    transform: rotate(180deg);
}
.hero picture img:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 40;
}

.hero picture img:nth-child(2){
    width: 100%;
    height: 100%;
    object-fit: cover;
}