
.hero{
    background-color: var(--pink-tint);
    color: var(--purple-shade);
}

/* hero tt */

.hero__tt{
    max-width: 1480px;
    margin: 0 auto;
    padding: 100px 20px 20px 20px;
    text-align: center;
}

.hero__tt h1{
    margin-bottom: 20px;
}

.hero picture{
    display: block;
    position: relative;
    width: 100%;
    height: 110vh;
    background-color: red;
}

.hero picture img{
    width: 100%;
}

/* ARCO PICTURE SZS */

.hero picture img:nth-child(1){
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 40;
    transform: rotate(180deg);
}
.hero picture img:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 40;
}

.hero picture img:nth-child(2){
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* DESCRIPTION */

.description{
    padding-top: 120px;
    background-color: var(--pink-tint);
}

.descrption__width{
    max-width: 1680px;
    padding: 0px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.descrption__tt h1,
.descrption__tt p{
    margin-bottom: 20px;
}

.description picture img{
    width: 100%;
}

@media screen and (max-width: 900px){
    .hero__tt{
        padding: 100px 10px 20px 10px;
    }
    .hero picture{
        height: 50vh;
    }
    .description{
        padding-top: 40px;
    }
    .descrption__width{
        padding: 0px 10px;
        grid-template-columns: repeat(1,1fr);
    }
    
}


/* PRODUCTOS */

.productos{
    padding: 120px 20px 0px 20px;
    background: linear-gradient(to bottom, var(--pink-tint), var(--pink-tint), var(--blue-tint));
}

.productos h1{
    text-align: center;
    max-width: 800px;
    margin: 0 auto 40px auto;
}

.productos__grid{
    max-width: 1480px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
}

.productos__grid article {
    overflow: hidden;
}

.productos__grid picture{
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}

.productos__grid article picture img{
    width: 100%;
    object-fit: cover;
}

.productos__grid article picture img:nth-child(1){
    height: 100%;
    border-radius: 20px;

}

.productos__grid article picture img:nth-child(2){
   width: 300px;
   height: default;
   position: absolute;
   z-index: 20;
   bottom: -20px;
   right: -90px;
   transition: all .3s;
}

.productos__grid article picture:hover img:nth-child(2){
    transform: scale(1.5) rotate(20deg) translateY(-50px);
    right: 50px;
}

.productos__img2{
    width: 180px !important;
    right: -8px !important;
    bottom: -40px !important;
}

.productos article:hover .productos__img2{
    right: 80px !important;
}

@media screen and (max-width: 1000px){
    .productos__grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 700px){
    .productos{
        padding: 80px 10px 0px 10px;
    }
    .productos__grid{
        grid-template-columns: repeat(1,1fr);
    }
}

/* SUBFOOTER */

.subFooter{
    padding: 120px 20px 0px 20px;
    background: var(--blue-tint);
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.subFooter ul:nth-child(1){
    display: flex;
    gap: 80px;
}

.subFooter ul li img{
    width: 35vw;
    box-shadow: 3px 1px 21px 1px #00000040;
}

.subFooter ul:nth-child(1) li:nth-child(1) img{
    transform: rotate(10deg);
}
.subFooter ul:nth-child(1) li:nth-child(2) img{
    transform: rotate(2deg);
}

.subFooter ul:nth-child(2){
    display: flex;
    justify-content: space-between;
}

.subFooter ul:nth-child(2) li:nth-child(1) img{
    transform: rotate(-2deg);
}
.subFooter ul:nth-child(2) li:nth-child(2) img{
    transform: rotate(2deg);
}

@media screen and (max-width: 650px){
    .subFooter,
    .subFooter ul:nth-child(1){
        gap: 30px;
    }    
}

